.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.search {
    position: relative;
    margin: 2rem 0;
}

.search input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.autocomplete {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    z-index: 10;
}

.autocomplete li {
    padding: 0.5rem;
    cursor: pointer;
}

.autocomplete li:hover {
    background: #f1f1f1;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: #fff;
    border-radius: 1rem;
    width: 90%;
    max-width: 400px;
    padding: 1rem;
    position: relative;
}

.modal-content img {
    width: 350px;      /* ajuste aqui */
    height: 350px;
    display: block;
    margin: 0 auto;
}


#closeModal {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.modal-content {
    background-color: #fff;
}

.modal-content h2,
.modal-content p {
    color: #fff;
}

#closeModal {
    color: #fff;
}


/* Cores do modal por tipo */
.modal.fire .modal-content {
    background-color: #ee7f30;
}

.modal.water .modal-content {
    background-color: #678fee;
}

.modal.grass .modal-content {
    background-color: #77c850;
}

.modal.electric .modal-content {
    background-color: #f7cf2e;
}

.modal.poison .modal-content {
    background-color: #a040a0;
}

.modal.normal .modal-content {
    background-color: #a6a877;
}

.modal.bug .modal-content {
    background-color: #a8b720;
}

.modal.fairy .modal-content {
    background-color: #f9aec7;
}

.modal.psychic .modal-content {
    background-color: #f65687;
}

.modal.rock .modal-content {
    background-color: #b8a137;
}

.modal.dark .modal-content {
    background-color: #725847;
}

.modal.dragon .modal-content {
    background-color: #6f38f6;
}

.modal.ice .modal-content {
    background-color: #98d5d7;
}

.modal.steel .modal-content {
    background-color: #b9b7cf;
}

.modal.fighting .modal-content {
    background-color: #bf3029;
}

.modal.ground .modal-content {
    background-color: #dfbf69;
}

.modal.flying .modal-content {
    background-color: #a98ff0;
}
.modal.ghost .modal-content {
    background-color: #6e5896;
}



@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}